[2019-04-03 01:09] ArmoredBlood opened #1 "Update BOM to use markdown files"
the current BOM is awkward to read since it needs a spreadsheet application just to open. I suggest consolidating the BOM and the order pdf's into a single readme.md that contains all the info of all the original spreadsheet and pdf's.

[2019-04-03 01:44] servant74 commented on #1
Try this, the link has a PDF you can check out.  I don't have update privleges.  This is a conversion using Google Docs.

[White Knight BOM.pdf](https://github.com/NAK3DDesigns/White-Knight/files/3036523/White.Knight.BOM.pdf)

[2019-04-03 02:27] ArmoredBlood commented on #1
If you check out #2 I added the connector as an image and it's embedded in the BOM readme.md file. This way you don't need to download anything just to view the contents, it can all be viewed directly in your browser

[2019-04-03 02:45] servant74 commented on #1
Thanks

[2019-04-04 02:00] NAK3DDesigns commented on #1
This issue has been merged with master.  Closing issue... PR#2

[2019-04-04 02:00] #1 closed

[2019-04-06 16:24] 3d-gussner opened #7 "Claim STL files you want to convert to STEP / Fusion 360"
Just an idee:
Wouldn't it make sense if people claim ONE STL file at the time they are converting to STEP / Fusion 360? Or making a conversion status list:

| STL | Part of STL | Who | Status | ETD |Info| Reviewed |
| --------------------------- | ------------------- | ---------- | ------ | ------- |--------|-------|
| _1-All_Belt_Clams V2.stl_ | clam nr. 1 | @3d-gussner | [Done](https://github.co

[2019-04-06 18:21] NAK3DDesigns commented on #7
I love the idea, but I know about as much about GitHub as I do about Fusion.. lol  I'm just a little out of my element..

[2019-04-06 18:51] dsk001 commented on #7
I will start working on the Belt stepper mount Pt1 V4.stl

[2019-04-06 19:00] NAK3DDesigns commented on #7
Please check the fusion 360 folder in the development branch before selecting files till we get a better system in place.  I do believe that the Belt Stepper Mount Pt1 V4 has already  been done.

[2019-04-07 09:11] 3d-gussner commented on #7
@NAK3DDesigns As github Owner you can edit this issue and update the claims

[2019-04-07 09:19] 3d-gussner commented on #7
any ETD or Info i can add to your claim?

[2019-04-07 09:43] 3d-gussner commented on #7
@NAK3DDesigns added a column Reviewed, so you can say it is done or need some rework.

[2019-04-07 12:36] EXOgreen commented on #7
I've got cooling ducts v4 left and therefore right as well

[2019-04-07 12:46] dsk001 commented on #7
@3d-gussner since it is already done, I didn't do it. No use duplicating work already done.

[2019-04-07 12:52] NAK3DDesigns commented on #7
Thanks everyone, bare with me if it takes me a bit to get a rhythm going I’m still learning how to use Github but I don’t want to slow you guys down.

[2019-04-07 13:01] reFlex-lab commented on #7
I guys,
I'm totally New to github actually i came because of this project. But i am really good at fusion 360. I would like to help.
how Can I do that ?

[2019-04-07 13:40] EXOgreen commented on #7
@reFlex-lab the way I have found to work with this (also new here) is to fork this github repository. This creates an exact copy of the repository under your account. Once you have a file that you gave recreated in fusion, upload both the .F3D and .STEP files to the development branch of your repository (so the parts can be tested before being sent to the master). You can then make a push request

[2019-04-07 17:46] 3d-gussner commented on #7
Claim here a part with ETD if possible

- on the github website `https://github.com/NAK3DDesigns/White-Knight/tree/Development` hit the `Fork` button

On Windows you can install git-bash

- create a folder "White-Knight"
- open git-bash
- change to that folder
- enter `git clone https://github.com/<your github user>/White-Knight.git master`
- enter `cd master` you should now see `.../White-Knight/

[2019-04-07 18:16] reFlex-lab commented on #7
@3d-gussner
Thank you for the detailed description.

[2019-04-07 21:07] milkey-mouse opened #12 "Possible infringement of Stratasys patents"
I'm not a lawyer, but the main reason I didn't experiment with infinite-volume/belt-based 3D printers before was Stratasys patents [US8282380](https://patents.google.com/patent/US8282380) & [US8287794](https://patents.google.com/patent/US8287794).

You have probably encountered these before, but is there a consensus, or hope, that these patents don't cover a printer with a slanted Z axis like this

[2019-04-07 21:26] wjsteele commented on #12
I designed this mechanism specifically to get around their patents. In both patents, claim one fails this kinematic model because we are not positioning the extruder in the XYZ space... All the rest of the claims are dependent claims, so they do not apply.

Bill

On Apr 7, 2019 5:07 PM, Milkey Mouse <notifications@github.com> wrote:

I'm not a lawyer or anything, but the main reason I didn't exper

[2019-04-07 21:56] NAK3DDesigns commented on #12
Thanks Bill..  I'm assuming my design is within the same constraints as yours..

[2019-04-07 22:38] wjsteele commented on #12
Yes, it definitely is.

Bill

On Apr 7, 2019 5:56 PM, NAK3DDesigns <notifications@github.com> wrote:

Thanks Bill.. I'm assuming my design is within the same constraints as yours..

—
You are receiving this because you commented.
Reply to this email directly, view it on GitHub<https://github.com/NAK3DDesigns/White-Knight/issues/12#issuecomment-480633300>, or mute the thread<https://github.com/noti

[2019-04-07 23:45] milkey-mouse commented on #12
Nice!

[2019-04-07 23:45] #12 closed

[2019-04-08 04:43] shaboigan opened #13 "Dimensions of printer"
Do you have dimensions of the fully assembled printer (not the print area) I'd like to know if this would fit in my current workshop

[2019-04-08 10:50] 3d-gussner commented on #7
Updated the git commands...
Claimed 10-Bowden_Cable_Clip_V1.stl
created Pull Request for Fusion360 archive and STEP files, would be great if somebody could review it before it is merged

[2019-04-08 20:17] ianespana commented on #7
Count me in! I can only make Solidworks files, however the STEP format should suffice, unless anyone has issues with that?
I'll take:
Mosquito & E3Dv6 Mount V7.stl
Mosquito & E3Dv6 clamp and cooling fan mount V4.stl

[2019-04-09 04:46] EXOgreen commented on #7
Fan ducts are done and pushed, parametrics in the F3D file are kinda shit though >.> I'll take Belt stepper mount Pt2 V3 now.

[2019-04-09 05:23] 3d-gussner commented on #7
Welcome, Fusion 360 archive files are prevered as most users can use it for free and we can change sketches if needed.
@ianespana Claim added

[2019-04-09 05:24] 3d-gussner commented on #7
Claim added

[2019-04-09 08:32] reFlex-lab commented on #7
I will Start with 1-Display_Support_Endcaps.stl

[2019-04-09 09:46] paulbuzzby commented on #7
I'd like to help out with some of the conversions. I'm distinctly average at fusion but should be able to help. What is the process people are using to do the conversion?

[2019-04-09 12:52] NicoSchlueter commented on #7
1-All_Belt_Clams V2.stl clamp nr.3 &
1-All_Belt_Clams V2.stl clamp nr.4

claimed, done, and pull-requested.

[2019-04-09 16:45] 3d-gussner commented on #7
@paulbuzzby Just download the Fusion360 archives and you can see the different approaches.
Here is how i normally start:
- Import STL
- Move it to Origin
- Disable History
- Convert Mesh to BRep
- Enable History
- Try to cleanup some faces to get smaller BRep
- Start NEW sketch an reverse engineer it

[2019-04-09 16:49] 3d-gussner commented on #7
@reFlex-lab and @NicoSchlueter claims added

[2019-04-09 16:49] 3d-gussner commented on #7
Sorry hit the wrong button :-)

[2019-04-09 16:57] NicoSchlueter commented on #7
1-CBA bottom Cover V3 Full.stl &
1-CBA top Cover V5 part 1of3.stl &
1-CBA top Cover V5 part 2of3.stl &
1-CBA top Cover V5 part 3of3.stl &
1-CBA top Cover V5.stl &
1-CBA_slide_tray_assembly_v11.stl &
-Display_Support_Endcaps.stl short one &
-Display_Support_Endcaps.stl long one

Claimed, Done, and should be added automatically to my previous pull request.

[2019-04-09 17:02] 3d-gussner commented on #7
@NicoSchlueter just saw it thanks
@reFlex-lab If your are close to finish just make a PR we can then see which design is "nicer"

[2019-04-09 17:15] NicoSchlueter commented on #7
I would like to claim:
2-4080 c-beam endcap V5.stl
2-4080 c-beam endcap wider v1.stl
2-Side_Support_Bottom_Brace.stl
3-Pulley_Bearing_Mount_V2.stl
switch enclosure V4.stl

[2019-04-09 17:16] 3d-gussner commented on #7
I am amazed that in less a week we already got 29 claims and results of 44 todo's.

You guys are awesome, love the community!

[2019-04-09 17:18] 3d-gussner commented on #7
Man you are on a run :-)
Can you please create a different github worktree and PR, otherwise your PR maybe in review and then it is being updated with new designs. This way we can give others time to review a PR one by one

[2019-04-09 17:33] NicoSchlueter commented on #7
I will try to do that, will have to look up how to do that thou.

[2019-04-09 18:27] 3d-gussner commented on #7
@NicoSchlueter https://github.com/NAK3DDesigns/White-Knight/issues/7#issuecomment-480613712

[2019-04-09 21:08] NicoSchlueter commented on #7
2-4080 c-beam endcap V5.stl
2-4080 c-beam endcap wider v1.stl
2-Side_Support_Bottom_Brace.stl
3-Pulley_Bearing_Mount_V2.stl
switch enclosure V4.stl

Done and I figured the tree-thing out. Didn't read that initially since it started with "On windows", Sorry.
Please delete the initial pull request, everything has now been separated into many requests.

[2019-04-09 22:39] NicoSchlueter commented on #7
I would like to claim
1-hotend_carriage_v6.stl

Could you tell me what thread that is?

[2019-04-10 00:00] ianespana commented on #7
Completed Mosquito & E3DV6 Mount V7,

But man, this "Mosquito & E3Dv6 clamp and cooling fan mount V4" piece is being a bi***! The angles are really weird, xD

[2019-04-10 00:08] NAK3DDesigns commented on #13
23" W x 41"L x 28"T  or 585mm W x 1040mm L x 710mm T

[2019-04-10 08:09] 3d-gussner commented on #7
Updated list added claims @NicoSchlueter & @ianespana .

12 of 44 left to covert.

I claim 1-Peeler.stl :-)

[2019-04-10 08:44] paulbuzzby commented on #7
I'd like to claim the Plug Mount

[2019-04-10 09:04] 3d-gussner commented on #7
@paulbuzzby
Added claim to large and short 1-plug mount.stl

[2019-04-10 09:15] 3d-gussner commented on #7
I claim 1-slide tray end cover v4.stl

[2019-04-10 09:18] NicoSchlueter commented on #7
1-hotend_carriage_v6 almost done, just need to know what thread that is.

[2019-04-10 10:12] NicoSchlueter commented on #7
I claim:
1-Stepper_Mount_Left_V9.stl
1-Stepper_Mount_Right_V9.stl
1-hotend wire cover V3.stl
1-tensioner mount bracket.stl

[2019-04-10 11:00] 3d-gussner commented on #7
https://github.com/NAK3DDesigns/White-Knight/tree/master/BOM can it be the 3/8 PTFE, and fittings???

[2019-04-10 12:15] 3d-gussner commented on #7
Last chance to claim last 4 of 44:

1-Rear_Idler_Right_V5.stl
1-Rear_Idler_left_V4.stl
1-Side_Support_Top_Brace_Left_V2.stl
1-Side_Support_Top_Brace_Right_V2.stl

[2019-04-10 12:43] ianespana commented on #7
Give me those, 😄

1-Rear_Idler_Right_V5.stl
1-Rear_Idler_left_V4.stl

[2019-04-10 13:00] shaboigan commented on #13
Thanks, let the part sourcing begin!

[2019-04-10 14:18] 3d-gussner commented on #7
So it is nearly done
- 24 conversions have been already pulled to development
- 11 conversions are in 7 Pull Requests
- 8 conversions are ongoing

I guess next step is to review all files and tine tune them. So weird angles are removed. Maybe optimized for 3d printing ....

Let's see what @NAK3DDesigns want us to do next :-)

[2019-04-10 14:19] 3d-gussner commented on #7
Added claim...

[2019-04-10 14:55] ianespana commented on #7
What I suspect we'll have to do is make the assembly in CAD, and then adjust all models so they fit together properly. I'm willing to do that

[2019-04-10 15:44] 3d-gussner commented on #7
@ianespana I was planing to do the same :-) as we have nearly all Fusion360 files

[2019-04-10 16:14] NAK3DDesigns commented on #7
I guess just let me know when you think the files are ready for me to print and test fit as I won’t publish them to the Master till I have test printed them.

[2019-04-10 16:16] ianespana commented on #7
@NAK3DDesigns @3d-gussner ETA 1 hour, maybe a tad bit less. Working on the last piece

[2019-04-10 17:20] ianespana commented on #7
@NAK3DDesigns @3d-gussner Done, pull request added

[2019-04-10 17:33] NAK3DDesigns commented on #7
Wow!!!!!   Never did I expect all these files would be converted so quickly.  Thank you!!!! I’ll run the pull requests tonite.

[2019-04-10 17:35] ianespana commented on #7
Heh, that's the power of the community!
Now I only wish I had the money to assemble one, heh

[2019-04-10 17:44] NicoSchlueter commented on #7
I am now all done as well.

[2019-04-10 17:44] racenviper commented on #7
I have created the C-Beam's and the other extrusions templates in Fusion, where can I add the drawing to get the correct dimensions to finish these? Having these will allow to have a complete assemble printer in Fusion. I can add drawings to show the tapped holes on the end of the extrusions also. I planed to create the Cold and Heated plates also from the STL's, but the dimensions will only be a

[2019-04-10 20:16] paulbuzzby commented on #7
At the moment i cannot get git to behave itself. Will try again later but as I think they are all done mine is here https://a360.co/2P1VzE0 Hope it helps

[2019-04-10 20:27] paulbuzzby commented on #7
Might have made it work. You should have a pull request for my files.

[2019-04-10 21:44] EXOgreen commented on #7
I'll have my final part done tonight, it's a really easy part just alot of other stuff going on. I'm wondering if we have any pictures or diagrams showing where each type of screw goes? Then we can more accurately size the holes as well.

[2019-04-11 10:47] #13 closed

[2019-04-11 10:56] 3d-gussner commented on #7
After double checking the STL files and converted / pull request, I found two missing files in the list:
- 1-Xaxis_Mount_Right_V10.stl
- 1-Xaxis_Mount_Left_V11.stl

I claimed them as it was me forgetting them to add to the list above.

@NAK3DDesigns sorry Not done yet :-)

[2019-04-11 10:59] 3d-gussner commented on #7
@ianespana Do you think it would be hard for you to add Fusion360 versions of your file, with sketches  and history so changing them in the future might be bit easier? Or are you okay if somebody else does that?

[2019-04-11 11:01] NAK3DDesigns commented on #7
I added an Extrusion Template folder in the Fusion 360 directory for those converted files..

[2019-04-11 11:05] NAK3DDesigns commented on #7
@racenviper if it helps any with the hot and cold plates the squre shape in the middle is 400mm..  So its a 400mm rectangle with wings that take it our to 520mm..  does that help?

[2019-04-11 15:15] 3d-gussner commented on #7
@NAK3DDesigns converted few extruisions to Fusion 360 and 1-Xaxis_Mount_Right_V10.stl

[2019-04-11 18:54] ianespana commented on #7
@3d-gussner I'll convert them to fusion files in a bit

[2019-04-12 05:41] EXOgreen commented on #7
After duking it out with github for the _privilege_ of being able to push just the 2 files I want and not the entire kitchen sink I think I finally have the belt stepper motor mount part two pull requested. Do I really absolutely need to make 2 separate branches if I want to push my changed files in 2 separate pull requests? Anyways, What come next for this project?

[2019-04-12 07:14] 3d-gussner commented on #7
@EXOgreen You don't need to create worktree's for each part. I just posted the git worktree part as i had in the past issues with changes i made to code and meanwhile code was updated, merges and pulls gave me often conflicts. Having different branches/worktrees made it way easier.

You also can use the git web interface to create a new branch from the Develompent branch and just add your converte

[2019-04-12 07:18] 3d-gussner commented on #7
@NAK3DDesigns What come next to this project?
- add Fusion360 files of the electronics
  - Motors LDO 0.9° + Nema 17 5:1 geared stepper
  - Duet Wifi
  - PanelDue 7i
  - Mosquito Hotend + Thermistor + heater
  - micro switch endstops (why not use TMC home detection?)
  - Meanwell LRS350-24 powersupply
  - Silicone Bed heater
  - Noctua 40mm fans
  - 24v Blower Fans
  - 34 pin connector
- add Fusio

[2019-04-12 10:45] ianespana commented on #7
I think we can begin dry fitting all pieces without the need to have all the models of the non printed parts.
That being said we do need them, as later on we need to check clearances and what not

[2019-04-12 11:06] 3d-gussner commented on #7
@ianespana I agree ... Question is if @NAK3DDesigns wants to make the assembly himself. As in the interview with Walter from Kuntry 3d he "complained" (not really complained :-) ) that he had no chance to learn Fusion 360 and convert these parts himself as we have done it in few days.

I will start my own assembly and let's see what he says.

[2019-04-12 11:12] NAK3DDesigns commented on #7
@3d-gussner power switch has been added to the BOM.  TMC home detection? Never heard of it..(remember I'm actually relatively new to 3D printing)  Honestly just tried to keep the design as simple as possible.

[2019-04-12 11:15] NAK3DDesigns commented on #7
@everyone @ianespana Sorry I did not mean it to sound like i was complaining, just the opposite I can't believe how fast you guys are doing this..  My only problem is I'm struggling to keep up as I don't know github or fusion. lol..  Feel free to proceed with making an assembly..  If you want a new folder just let me know..

[2019-04-12 12:28] 3d-gussner commented on #7
@NAK3DDesigns Don't be sorry, it wasn't real complain we know that. I created few pull requests with Electronics and Hardware folder.

Maybe you should try to do the assembly your self and we are doing the same but maybe we can agree not to post changes of 3d printed parts until you give us the feedback.

It would be great if everybody tries to fit/assembly the parts and if there is an issue/toler

[2019-04-12 12:32] 3d-gussner commented on #7
The Trinamic stepper drivers on the DuetWiFi can do sensorless homing as they can detect if the stepper hit something or not. On the other side micro switches aren't that bad and maybe having these in the design makes it even more open hardware, as people can use other boards to run it. (Budget WhiteKnight)

[2019-04-12 14:50] ianespana commented on #7
I'm now wondering how well would that work with the reduction from the steppers...
My guess is could end up damaging the printer

[2019-04-12 17:00] 3d-gussner commented on #7
As the geared motor is on the belt and this one doesn't need a endstop, it is not an issue. The other two steppers to move the head it shouldn't be an issue

[2019-04-14 11:26] 3d-gussner commented on #7
@NAK3DDesigns Sorry for the late 1-Xaxis_Mount_Left PR.

[2019-04-14 17:52] EXOgreen commented on #7
do we want a folder of all the mcmaster carr hardware step files? I can run through and download those

[2019-04-14 18:01] 3d-gussner commented on #7
I think it is a great idea, as we can upload all files to Fusion 360 and make than an assembly from these. Please just add some "readable" names to the part numbers :-)

[2019-04-14 19:53] EXOgreen commented on #7
Hardware | Link | STEP file
------------ | ------------- | -------------
M5 spring loaded T-nuts | http://www.zyltech.com/100x-zyltech-spring-loaded-t-nuts-for-2020-aluminum-extrusion-m4-or-m5/ | your name here!
JST connectors | Link? | probably very fun to model...
#2 x3/8in thread cutting screws | not 100% sure what these are or where they are used, but a #2 thread is in fusion so should be pret

[2019-04-14 20:20] user577 commented on #7
The #2 screws are self tapping sheet metal screws for the lcd enclosure.

The jst connectors are molex jst series (super common) there should be a multitude of models of these floating around.

the m5 nut is listed on mcmaster carr here. https://www.mcmaster.com/=1hmmz4w

I am also a github newbie so im not really sure where to add this info other than to comment on your post.

[2019-04-14 20:26] EXOgreen commented on #7
Ill look more into the screw and JST connectors, thanks for the info! For the M5 nut, your link seems to be broken, and as far as I can see McMaster doesn't have, specifically, the spring loaded nuts that are specified in the BOM. not sure if they can just be replaced with a normal M5 (though I don't see why not)
Thoughts on the M5 nuts @NAK3DDesigns ?

[2019-04-14 21:11] ianespana commented on #7
IMO it doesn't matter if the nuts are spring loaded or not for this first assembly.
The most important thing right now is to validate all pieces were correctly designed

[2019-04-14 21:23] NAK3DDesigns commented on #7
The kit requires qty 4 M5 square nuts that should be findable on McMaster-Carr.    The spring loaded 2020 extrusion T-nuts are available at zyltec.com

[2019-04-14 21:26] NAK3DDesigns commented on #7
As for if spring loaded is required for the digital assembly I’d say no, but I pity anyone that tries to assemble this printer in real life without them.

[2019-04-14 21:27] EXOgreen commented on #7
ok, that was going to be my next question :D thanks!

[2019-04-15 15:14] reFlex-lab commented on #7
Just A little question :
Do you think that it would be a good Idea once the digital assembly is made in Fusion 360 to create a
Fusion 360 project that we can share.

[2019-04-15 16:30] eddie-moser commented on #7
will need to keep the files in github or its not really open source. Fusion doesn't have a way to distribute a link easily and done that way its either full access or view only access.

[2019-04-15 17:14] NAK3DDesigns commented on #7
Agreed..   I don’t know a lot about sharing in Fusion but I’ll bet the GPL would not be covered.

[2019-04-15 22:36] NAK3DDesigns commented on #7
@3d-gussner I've just realized I needed to make a small change to the plate designs..  Unfortunately I still haven't had a chance to sit down and learn fusion and it took me 5 minutes with builder..  This will also require the drip tray to be rescaled to fit as well..  Sorry for making more work...  to help with the change I offset the center square of the plates 5mm to the right and added a 1.5mm

[2019-04-16 07:54] 3d-gussner commented on #7
@NAK3DDesigns No problem at all, great to see improvements in the design. Fusion 360 isn't easy but also not hard and you should use the tool you know to fix things. As soon you get more comfortable with Fusion 360 you go with that.
As soon you update the STL we will change the Fusion 360 files.

I learned a lot from https://www.youtube.com/user/cadcamstuff/featured
He has also a nice Play list  h

[2019-04-16 07:58] 3d-gussner commented on #7
@NAK3DDesigns just saw you uploaded them already ... but to the master branch

[2019-04-16 18:01] 3d-gussner commented on #7
And done, made the [PR](https://github.com/NAK3DDesigns/White-Knight/pull/45)

[2019-04-16 18:06] EXOgreen opened #46 "Fusion 360 file organization"
How should the files in the Fusion 360 folder be organized? For example, I found the STEP file for the 40mm blower fans on grabcad, But I don't know where to place them. I added the Bulk hardware from McMaster car to its own folder, should we have a folder for electronics, bulk parts, and 3D printed parts so that we can find what we are looking for easier? what would that structure be? LMK your th

[2019-04-16 18:09] 3d-gussner commented on #46
@EXOgreen check the Development branch, we added few folders

[2019-04-16 18:30] EXOgreen commented on #46
ooooh. I was just looking in the fusion folder. Ill move bulk hardware around as well. Thanks

[2019-04-16 18:30] #46 closed

[2019-04-16 19:04] 3d-gussner opened #48 "Heated plate size question"
Hi Karl, after seeing your 430mm high print video I was wondering why the heated plate is just 230mm long (z-axis), as a print that high would need ~335mm heated plate until it is finished.

Example:
A 430mm tall,  400mm wide and 50mm long print
- The bottom of the print would be on the heated plate up to ~330mm height
- The following 50mm height to print it would slowly move to the cold plate
- T

[2019-04-16 19:05] 3d-gussner commented on #46
I think as soon we Karl is happy with the Fusion 360 files he will move this folder somewhere under Printed parts or so.

[2019-04-17 10:28] 3d-gussner opened #49 "C-beam cutouts STL vs Video dimensions"
Hi Karl,

I am busy to update the C-beam Fusion 360 files using your dimension from the White Knight Assembly Part 2 video.

- 5.5mm holes
  - 198mm from front
  - 342mm from front
  - 763mm from front
  - holes are 10mm from the center or 30mm + 50mm from bottom
They are bit different from the STL but don't see an issue here.

- C-beam_1 electronics cutout
  - 210mm from front
  - 335mm from fron

[2019-04-17 20:47] NAK3DDesigns commented on #48
I haven't had any issues with prints coming off yet, but I suppose its a possibility..  How you choose to assemble yours is completely up to you(beauty of open source)..  Please make sure to share your revisions if you do..

[2019-04-17 20:57] NAK3DDesigns commented on #49
I see what you are saying...  the weird thing is I'm checking the measurements of the prototype and they still measure out to what I listed and it appears centered..  I'm confused at this point..  I would say go with 207 and 333mm.

[2019-04-17 21:49] NAK3DDesigns commented on #49
just watched my video and it appears I did need to file down once side more than the other so I'd go with 7mm on each side..

[2019-04-19 13:20] ludozen opened #50 "I could really use your help!"
Hi there,
I really like your design of this printer! My name is Ludo, I am currently doing a graduation project at my uni in the Netherlands, in which I am trying to design a 3D printer for production of medical devices in Africa. One of the main features I want to integrate in this design is a conveyor belt system, very similar to your design, to enable continuous printing. I am about to start bu

[2019-04-19 13:37] wjsteele commented on #50
Be careful... that specific style of printer is covered under Stratasys' patents.    Here is a quote from their patent, "In yet another example, the conveyer 104 may, by movement of the sheet 118 of material, control movement in one axis (e.g., the y-axis), while the extruder 106 moves in the z-axis as well as one axis in the plane of the sheet."  This sentence is describing the exact configuratio

[2019-04-19 14:06] NAK3DDesigns commented on #50
I had some minor warping issues when I was using a thinner sheet belt, but since going to a 6mil or .15mm thick belt I haven't seem any warping yet..   I think you will find that a .5mm thick belt will be too thick.  I am then covering my belt with a custom sheet of Buildtak.  Hope this helps..  Links to both companies are below..

https://www.belttechnologies.com/
https://www.buildtak.com/

[2019-04-19 14:27] ludozen commented on #50
Thanks for your quick replies! It's a shame finding out that Stratasys' has patented this solution, thanks for pointing this out Bill.

Ah I see I made a typo, I am intending to use a .1mm stainless steel belt, not .5mm. Good to know you do not experience warping with this.

[2019-04-19 14:52] NAK3DDesigns commented on #49
@3d-gussner you'll be happy to see I've added a Poll note to the part 2 video at 4:21 correcting the opening measurements to 207mm and 333mm..

[2019-04-22 10:16] madhunm commented on #50
@ludozen check out: https://hackaday.io/project/114738-automatic-infinite-3d-printer

[2019-04-22 14:52] ArmoredBlood commented on #50
another thing to check out @ludozen is forum.beltprinters.com. I'm trying to build a community of people that want to discuss and learn more about infinite style printers.

[2019-04-22 23:13] EXOgreen commented on #50
The owner of that hackaday project is unreachable and the instructions are super unclear. This project was 1000 times more organized from day 1.  I'll have to join the belt printers forum! sounds like my kinda place. :D

[2019-04-22 23:20] NAK3DDesigns commented on #50
@EXOgreen thanks..  Though this project is better because the community and people like you are helping to make it so...

[2019-04-23 08:04] ludozen commented on #50
Yeah my interest into this type of printer was actually sparked by the hackaday project. Just like @EXOgreen, I reached out to him, with no response. Thanks for your advice guys! I digged a little deeper, and actually came to the conclusion that this type of printer might not be the best fit for the context of hospitals in Africa.

If you're interested, this is my new plan:
So the goal is to devel

[2019-04-23 09:38] 3d-gussner commented on #7
Hi everybody, is it okay if i close this issue as all STL files are converted to Fusion 360?

[2019-04-23 14:46] EXOgreen commented on #50
This is an idea I have seen and heard about in a few places before. It is a good starting point. A little isopropyl alcohol and compressed air should cool the bed pretty fast and not impact the print surface. Then it's a matter of creating a wall/wedge for cheep while also figuring out how to keep it from breaking parts if the parts are stuck to the build plate too much. Finally you'll need a queu

[2019-04-23 15:38] NAK3DDesigns commented on #7
I don't have a problem..  We can always open a new issue if something comes up..  There is one issue that needs resolved but I can create a new issue for that..

[2019-04-23 15:44] NAK3DDesigns opened #51 "Drip tray rework.."
Hi Guys, I had to make a change to the Build Plates see (v3) basically I offset the center 400mm area to the right.  By doing this the drip tray will now be too small to fill the void between the main 4080 extrusion and the buildpate..    I'm currently busy getting a mockup kit pieced together for PS to use for sourcing kit components and creating assembly instructions.  If anyone want to take a c

[2019-05-13 00:16] NAK3DDesigns commented on #7
@3d-gussner Everyone has been so quiet..  Did I do something wrong?

[2019-05-13 00:36] NicoSchlueter commented on #7
@NAK3DDesigns
Well I haven’t payed that much attention since the conversion marathon but I wouldn’t know what to do now. The readme still only talks about the conversion and this thread seems done. I probably missed a bunch but easy to find instructions really help to engage people. Just my 2cents.

[2019-05-13 21:46] EXOgreen commented on #7
@NAK3DDesigns For my part I had uni exams that I had to study for. Plus after all the conversions were done the only thing we can really do until the kit/belt is available is begin the assembly model. Which I think is a good thing to do, but takes alot more time commitment from people, and I've never done one before. I think we just need a goal to work towards.

[2019-05-14 00:05] NAK3DDesigns commented on #7
Thanks for the replies guys..  Main reason I asked is I put out an issue to redesign the drip tray 20 days ago and I didn't see anyone jump on it...  I'll do it when I get time but the way everyone knocked out the conversions I halfway expected it to get done in a day or two...  Thanks again for all your support..

[2019-05-15 01:41] EXOgreen commented on #51
Can you post a picture of the area you are talking about? I'm not too familiar with where all the parts fit when its all assembled.

[2019-05-15 21:58] NAK3DDesigns commented on #51
![driptray change](https://user-images.githubusercontent.com/47798430/57812373-dbbe4880-773a-11e9-949b-611bfccbf47c.jpg)

here is a pic of the drip tray.. the area marked out in red would be the new size..  basically going 5mm further into the plate.  I have shifted the buildplate 5mm to one side to allow for a larger off belt area.

[2019-05-16 00:51] EXOgreen commented on #51
ok, that makes sense now. I'll get that updated. And maybe see if its angle is the same in both cad designs.

[2019-05-16 01:07] NAK3DDesigns commented on #51
awesome.. thanks

[2019-05-16 04:24] EXOgreen commented on #51
see pull request #52 and let me know if it needs work

[2019-05-20 04:01] EXOgreen commented on #51
@NAK3DDesigns just confirming you saw this

[2019-05-20 09:40] NAK3DDesigns commented on #51
Yes, I did.   Sorry just had a crazy weekend.

[2019-05-21 08:19] 3d-gussner commented on #7
Hi Karl,

sorry for the late answer but just got back from vacation.

As far i can tell all STL files you provided are converted to STEP and Fusion 360 files.

It might be good
- to view your build videos and add missing things to the Fusion360/STEP files, like the threads and holes for the feet, cables in White Knight Assembly Part 3 from minute 10
- to review all conversions
- make an assembly t

[2019-05-21 08:22] 3d-gussner commented on #49
done and pulled

[2019-05-21 08:22] #49 closed

[2019-05-25 17:11] NAK3DDesigns commented on #51
just merged the request..  hopefully here soon I'll get time to start test printing all these fusion files...  Thanks again..

[2019-06-09 20:12] NAK3DDesigns commented on #7
All sounds good...  I've been struggling to find time to test print the converted files, but hope to get to it very soon..  I need to get thru them before i start on the Squire as I want to do any future changes in Fusion... Oh wait I still need to learn that too...  lol

[2019-06-25 13:14] paulbuzzby opened #53 "Kits?"
Hi, This is probably the wrong place to ask but I saw somewhere about kits being made for this. Not only am I keen to acquire a kit with all the non-3D printed I would be extremely interested in helping out either sorting or helping to distribute these. I live in the UK and I know that shipping from the US is just eye-watering expensive to elsewhere in the world.

Paul

[2019-06-25 13:21] NAK3DDesigns commented on #53
Hi, thanks for your interest in my design.   I would recommend contacting Printed Solid directly as they are going to be producing the kits.

[2019-06-25 14:14] paulbuzzby commented on #53
Thanks,

A different question along the sames lines. Has anyone put together places outside of the US that the Non-3D printer parts can be ordered?

[2019-06-25 15:04] NAK3DDesigns commented on #53
Yes, I believe ScaldaYT has pieces together a UK source list.

[2019-08-15 19:20] quarky42 opened #54 "Request: Update the main Readme file with a list of printer capability specs"
When you have time, would you please update the main Readme file to include a rundown of the various specs to include (but not limited to):

Layer Height Range (min to max)
Build Volume
Min and Max Travel Speeds
Filament Size
Max Bed Temperature
Max Hot End Temperature
Overall Weight
Overall Dimensions
Anything else you can think of that would be neat to see at a glance?

I've gotten the answers t

[2019-09-14 17:15] NAK3DDesigns commented on #7
Update!!!!  I just posted all my revised and updated files to the master directory Fusion 360 folder...  I know I probably should have posted them to development and then did a pull request, but I've made so many little changes it seemed easier to keep the old files in the development branch for reference..  If any of you have time please check them out and let me know if I missed any..  Thanks ag

[2020-01-02 23:51] #48 closed

[2020-01-02 23:52] NAK3DDesigns commented on #7
thanks again everyone for all the help...  I'm gonna go ahead and close this ticket now..

[2020-01-02 23:52] #7 closed

[2020-01-02 23:54] NAK3DDesigns commented on #50
Closing due to over 6 months of inactivity..

[2020-01-02 23:54] #50 closed

[2020-01-02 23:55] NAK3DDesigns commented on #51
Done!!!  Closing ticket

[2020-01-02 23:55] #51 closed

[2020-01-02 23:57] NAK3DDesigns commented on #53
*******UPDATE*******
I was just informed that due to legal reasons Printed Solid will NOT be producing kits nor will they even be able to carry the belt materials..  They do plan on building a White Knight group on the main page that will contain all the parts that they carry used in making a White Knight..

Sorry for the bad news..

[2020-01-03 00:07] wjsteele commented on #53
Legal reasons? Do they think there is IP stopping it?

[2020-01-03 00:19] NAK3DDesigns commented on #53
I don’t know all the details but I was told their patent lawyers advised against it.

[2020-01-03 03:13] peacho17 commented on #53
I am currently working on a version that uses industrial strength aluminium foil for the bed rather than the belt. Could this bypass the patent infringement concearns?

It works out way cheaper too. The foil is near 1mm thick and is $10 for a roll 45cm wise and 30m long.

Regards
Mark Pietsch

Sent from my iPhone

On 3 Jan 2020, at 11:19 am, NAK3DDesigns <notifications@github.com> wrote:

﻿

I don

[2020-01-03 03:21] NAK3DDesigns commented on #53
I'm not certain where the patent infringement concerns are but I'm guessing any printer that prints on a belt would be the issue..
    Also with the aluminium you may have issues with it stretching and curling..  that is the reason why I use fully hardened stainless steel..  I tried cheaper stuff before and had that issue.

[2020-03-25 03:47] Johannp02180 commented on #54
I think it would help if you answered your own question and posted the specs you found and then he could easily verify them. Also, a lot of the specs depends on what hotends you buy and bed. You could easily lookup the hotend he used and find the max temp.

[2020-03-25 04:14] quarky42 commented on #54
I had a suggestion for how the information available could be improved.  He could take it or leave it.  I wasn't trying to waste his time any more than necessary having a discussion about it.  Me guessing at the parameters when he should be familiar with them isn't helpful.

Perhaps if you had lead by example I'd see better what you're talking about.  A couple of obvious parameters don't address t

[2020-03-25 04:16] Johannp02180 commented on #54
I see, if you watch the video by 3Dprintingnerd, you'll see even he himself isn't 100% on the specs, cause he hasn't tested the printer to its limits yet. I apologize if my previous comment came down hard.

[2020-03-25 04:24] quarky42 commented on #54
Thank you for reconsidering your tone.  I did take it as pretty aggressive, but if it wasn't meant as such then I can accept that I was mistaken.

Yes, I did notice that he wasn't sure in that video but then in a later video he tests it and gets pretty close to the limit. That was 7 months ago.  I had hoped that at some point he'd consider adding the information.  Even if it wasn't complete at fir

[2020-03-25 05:06] Johannp02180 commented on #54
Yeah I agree it would be great to have that info and I didn’t mean to be aggressive. I was just thinking that having your info would be great for other users out there.

Sent from my iPhone

[2020-03-25 11:19] NAK3DDesigns commented on #54
Lets all play nice... ;) Sorry I haven't made any updates on the info requested but to be honest I'm not sure of the best ways to benchmark the printer to give accurate numbers.. Can it move at over 100mm/sec sure but at what loss of print quality, I do most of my prints at 30mm/sec with moves at 120mm/sec.  I've used nozzles from ,4 to 1.0 succesfully  but am still dialing in settings...  Sadly t

[2020-03-25 13:47] quarky42 commented on #54
I don't think you give yourself enough credit.  Maybe focusing on the kinematics and documenting them isn't the fun part, but it's clear you have a good eye for detail otherwise you wouldn't have had the success you've had.   There is no luck in complex system design.  There are just variables and managing those variables, and you've done a great job.

You highlighted a really important issue abou

[2020-03-25 14:14] NAK3DDesigns commented on #54
Thanks,
I think a lot of the info you are looking for is contained with in the Config.g file of the duet configuration..
 https://github.com/NAK3DDesigns/White-Knight/blob/master/Duet%20Config%20Files/sys/config.g

Current micro-stepping is set at 16x and config is as follows..  X=160, Y=160, & Z=208.75 so in full steps that would be X=10, Y=10, Z=13.047..

On the Squire I moved the Bondtech BMG a

[2020-04-27 19:44] JoshuaMorris opened #55 "Belt Group Buy"
Hi,

[Tj says he's done leading the group buys](https://infinityprinters.org/t/group-buy-endless-belt/67). I missed the last one and am willing to lead a group purchase to get a pair myself. If you're interested in joining in, comment on this issue and we can group up. I will keep this issue updated as we get enough people.

Quoting this info from the other group buy as the pricing/shipping arrang

[2020-04-27 20:10] wjsteele commented on #55
I'm up for two!

[2020-04-27 22:26] madhunm commented on #55
@JoshuaMorris I would like one set please

[2020-04-28 01:03] sorren4 commented on #55
How low does it go based on volume?  Is the pricing tiered?

[2020-04-29 13:25] AzonicTech commented on #55
I would like to get 2 of them. Is anyone putting together an excel sheet that we can add our name to? The one on the link will not let me add my name.

[2020-04-29 13:26] reFlex-lab commented on #55
I think it's already too late

Le mer. 29 avr. 2020 à 15:25, AzonicTech <notifications@github.com> a
écrit :

[2020-04-29 16:54] JoshuaMorris commented on #55
@AzonicTech @reFlex-lab I'm working on setting up a group buy, I will be putting together a form/spreadsheet once I collect from everyone who wants to join me in doing a purchase. I'm just waiting a little to allow for other who might be interested in joining in.

[2020-05-15 12:59] spyle commented on #55
I'm interested too. I'm just now looking into building one and I really think I want the Squire. Are the belts used the same size on the squire and white knight?

[2020-05-15 15:02] NAK3DDesigns commented on #55
No, the Squire belt is almost half the size of the white Knight belt.

[2020-05-15 15:13] spyle commented on #55
@NAK3DDesigns Wheres the best place that I can bug you or a group with some questions?

[2020-05-15 15:21] NAK3DDesigns commented on #55
NAK3DDesigns@gmail.com   First question is free additional are $5 per.. lol just kidding

[2020-05-19 21:45] cr10guy commented on #55
How do I sign up to buy I’ll take 4

[2020-08-06 20:24] JoshuaMorris commented on #55
After some consideration, this doesn't seem feasible for me to facilitate a group buy. I cannot at this time handle the redistribution of belts to everyone that wants to be a part of it. I would only be able to help those folks who could come and pickup their belts in person (Sacramento, CA).

[2020-08-17 21:19] BaronPhartman opened #56 "Silicone Heater designation"
Hello,

I was looking through the BOM of the White Knight, and tried to find the silicone heater used with the info that's present and couldn't find anything, would it be possible that rather than a ebay number, you could post the dimensions and voltage/wattage of the heater itself?

Thanks so much.

[2020-08-17 22:58] NAK3DDesigns commented on #56
I just checked and the listing is still valid.  Literally all you have to do is copy and paste the item number in the e-bay search window and the listing comes up..  here is the link: https://www.ebay.com/itm/8-X-16-200-X-400mm-24V-250W-w-3M-w-104GT-thermistor-at-center-Printer-Heater/143206149832?hash=item2157c06ec8:g:uV4AAOSwNlldoZRs

[2020-08-18 12:01] #56 closed

[2020-08-22 22:33] jedisintraining3 opened #57 "[Feature Request] Is there any way this would work with Marlin?"
I want to run it on the brand new BTT 32 bit boards. That would be awesome. If this is open source, and you give me the details on all steps taken to make the DUET files such as setting changes, I would happily compile marlin files for the world to use.

[2020-08-23 00:43] jedisintraining3 opened #58 "Question Conveyor Belt"
Could we use other types of cheaper conveyor belting like this pvc one here: https://www.dhgate.com/product/perimeter-900x200x1mm-customized-pvc-white/533630499.html?f=bm%7cGMC%7cpla%7c1471809117%7c59782623991%7c533630499%7cpla-748316044550%7c011014006004%7cUS%7ctimcent%7cc%7c2%7c&utm_source=pla&utm_medium=GMC&utm_campaign=timcent&utm_term=533630499&gclid=Cj0KCQjwhIP6BRCMARIsALu9LfmObRYl7HSt0gs-WO

[2020-08-23 22:04] jedisintraining3 commented on #57
I sent over the email, please check it when you can my email was: peach3dprinting@gmail.com

[2020-08-24 00:44] NAK3DDesigns commented on #58
I'm sure it's possible..  I can't say that I've tried every kind of belt
(I'm too poor to do that. lol)  I encourage everyon eto try anything they
think might work..  For example i would have never thought the belt on the
CR-30 would have worked as good as it does..  I'm sure they may still be a
better option out there but until more people experiment who knows..

Karl Brown
NAK 3D Designs
Youtube

[2020-09-09 10:29] lehuuloc-0104 commented on #57
Can you send me firmware file for the belt 3D printer? If possible, here's my mail: huuloc.cdt10a@gmail.com
Thank you very much.

[2020-09-09 11:23] NAK3DDesigns commented on #57
Firmware for the Duet is loaded on the Github, If you're looking for Marlin, I've only been working with the CR-30 so far and have not had a chance to make any configurations for the White Knight or Squire yet..

[2020-09-24 17:08] Hvest3 opened #59 "Source: Thermal Isolating Washers?"
Hey Karl!

I'm curious as to where you sourced your thermal isolation washers for the hot and cold plates.  I apologize if you've covered this elsewhere, but I couldn't find them in the BOM.

Thanks man!

[2020-09-24 17:47] NAK3DDesigns commented on #59
The smaller ones that go above the heatplate are

M5 high temp washers | 10 | McMaster-Carr | 93785A214

As for the larger 15mm OD washers I used some G10 like this
https://www.ebay.com/itm/G10-Sheet-Knife-Handle-1-8-x-5-x-11-7-8-RHINO-GREY/114295707394?hash=item1a9c8e1702:g:G6cAAOSwI9xfBzw4
and then used a hole saw with a 5mm center bit..

[2020-09-24 18:06] Hvest3 commented on #59
Ahhh, G10, that makes sense.  I already had the PEEK M5 washers, but that clears up the mystery. Thanks man!

[2020-09-24 18:06] #59 closed

[2020-09-24 19:30] Hvest3 opened #60 "Source: Hot/Cold Plate Machining"
Hey Karl,

Curious as to who you used to machine your hot/cold plates.  Been having trouble getting someone to do it without technical drawings and that's well beyond my CAD expertise.

Any recommendations you can offer are greatly appreciated.  Thanks man!

[2020-09-24 19:34] NAK3DDesigns commented on #60
To be honest unless you really want the very clean cut look you could just have the plates precut to the outer dimensions and do the cutouts with a jigsaw and drill the holes with a hand drill..  Otherwise the STEP or F3D files should be good enough for mist shops..  Sadly I had my plates waterjetted by a friend that doesn't work at the same shop anymore..

[2020-09-24 19:39] Hvest3 commented on #60
Helps to have friends in a CNC shop for sure!  I'll keep searching for someone who can do it from the STEP files.  Appreciate the help and the quick reply!

[2020-09-24 19:39] #60 closed

[2020-10-02 18:51] Hvest3 opened #62 "Question: Squire CBA Tray"
Hey gang,

I'm trying to squeeze a solid state relay into the Squire CBA tray to no avail, so I figured I'd have a go at modifying the slide tray design to accommodate one.  However, when I pull up the tray parts 1 and 2 in Fusion 360, they seem to start with a pretty finished design that's then tweaked and cut in half.  Is there a version available that I can use to fundamentally tweak to make th

[2020-10-06 03:40] Hvest3 commented on #62
Figured it out! Turns out I was just doing it wrong...lol

[2020-10-06 03:40] #62 closed

[2020-10-18 18:39] HasslerEngineering commented on #58
@NAK3DDesigns Do you know what belt the cr30 is using?

[2020-10-18 19:02] NAK3DDesigns commented on #58
Sorry no, I don't know the exact composition or source of the belt Creality is using...  I'm hoping in the future they will release the source and details.

[2020-10-18 21:34] HasslerEngineering commented on #58
Ok. What thickness Are these stainless steel belts you are suggesting?

[2020-10-18 21:56] NAK3DDesigns commented on #58
6 thousandths of an inch or .15mm

[2020-10-19 06:06] HasslerEngineering commented on #58
Thank you very much!

[2020-11-17 07:29] LDekor opened #63 "some STL-files can't be downloaded"
Hi. i have trubble downloading some stl files. something that can be fixed?

these are the files that cant be downloaded:

2-Roller_Insert.stl

2-Side_Support_Bottom_Brace.stl

3-Pulley_Bearing_Mount_V2.stl

1-Peeler.stl

[2020-11-18 01:00] NAK3DDesigns commented on #63
I've re-loaded all of the files and they appear to be working now..  If you have any future problems try downloading using the desktop app..  It seems to work more reliably..

[2020-11-19 18:19] LDekor commented on #63
thank you. i am planing on building your printer. i have one question. how many parts do i have to make of the diferent printed parts? is it just one of each?

[2020-11-19 18:37] NAK3DDesigns commented on #63
the number at the beginning of the file name is how many you need to print..  i.e. **2**-Roller_Insert.stl   so you print 2..

[2020-12-08 18:49] tbedore commented on #55
@cr10guy not sure if you bought a belt or not but the pricing doesn't go down much from 4 belts i'd suggest for you to just buy the 4 yourself. And to everybody else I was the one who coordinated the first 2 group buys. They aren't really feasible unless you are driving to pick it up. For the belts, you pay for the belt in addition to the shipping cost from belt technologies to the person who is r

[2020-12-08 18:52] tbedore commented on #55
Important to note also, buying 2 different size belts will not make the price go lower. The price per belt goes down because of their initial setup costs ($220 per size), so when the price per belt goes down that is solely because that initial setup cost is being split across all the belts. But say you got a squire belt and a white knight belt, you are paying for the setup cost on both of them, it

[2020-12-09 19:27] tbedore commented on #55
If anybody is interested in another group buy of the belts, please keep in mind what I have said above, take a look at the [blog post I made on the infinity printers forum](https://infinityprinters.org/t/group-buy-endless-belt/67/51?u=tj_bedorel) and if you are interested after all of that feel free to add your details to the [google sheets](https://docs.google.com/spreadsheets/d/1kebBYrp085TU6l2b

[2020-12-09 19:35] tbedore opened #64 "Group Buy On Belts"
Hello Everybody,

My name is TJ and I have been the person who has pretty much coordinated (to my knowledge) the group buys for the belts on the printer. I'm running another one again as I have more free time than I would like to admit, so here we go. This time I am being up-front with you about everything that goes into a belt purchase for the group buy. I am copying and pasting everything that I

[2020-12-31 15:24] tbedore opened #65 "Interests in Partial Kits?"
Hello,

I was wondering if anybody would be interested in possibly a frame kit from LDO Motors that is already cut down to spec for the white knight and with all the holes drilled in all the extrusions, holes cut, ends tapped, etc. You will probably still need to drill and tap the holes for the linear rails as that is different for everybody unless I could manage to get LDO to do that but I doubt

[2021-01-28 22:52] StumbleNOLA commented on #65
Honestly I would be much more interested in being able to buy a working machine for a premium over the cost.

[2021-01-29 00:24] servant74 commented on #65
Agreed

On Thu, Jan 28, 2021 at 4:52 PM StumbleNOLA <notifications@github.com>
wrote:

--

If you are not paying for something, you are not a consumer, you are the
product. - Chamath Palihapitiya

"Tell me and I forget. Teach me and I remember. Involve me and I learn." -
Ben Franklin

[2021-01-29 02:19] VinnyCordeiro commented on #65
A working printer would be nice, but I'd buy even a full kit in a box if that save me the time to chase all the components.

[2021-03-01 10:57] Helvensteijn29 commented on #55
Hi tbedore, kan i still sing up for a belt?

[2021-03-01 13:30] #65 closed

[2021-03-08 18:19] Prototyp-L98 opened #66 "Multinozzel for Beltprinters"
Hello everyone,

im building on my own version of a Beltprinter with 4 Nozzels.

But the problem is that neither CrealityBelt or CuraBlackbelt have multinozzel
for Beltprinter support. Dont get me wrong its work perfectly fine with "normal"
Printers but not for Beltprinters.

If u cant imagine what i mean i added my Fusion Hotend build.
[Belthotend.zip](https://github.com/NAK3DDesigns/White-Knight

[2021-03-09 00:13] NAK3DDesigns commented on #66
I suggest contacting Stewart at Kiri:Moto   - sa@grid.space    He has been working on a beta belt slicer and has been very eager to add functions as they are requested..  He thinks the current configuration will work.  Here  is the link to it..  https://grid.space/kiri/

[2021-03-09 08:47] Prototyp-L98 commented on #66
Thank you very much that helped a lot.
I never heard of this Slicer but it looks very promising.
I'll get right on testing.
Thank you

[2021-03-09 08:47] #66 closed

[2021-03-23 13:24] SeyedAli1998 opened #67 "Device buyers"
Hi Karl
Has this device model ever had buyers?
If so, who bought it and who needs it?

Thank you in advance for your answer
SeyedAli

[2021-03-23 14:07] NAK3DDesigns commented on #67
This isn't something you buy as a kit or assembled..   This is just a repository of all info needed to build your own.  As such I really don't have any info as to how many people have bought it or built it.

[2021-03-23 14:08] #63 closed

[2021-03-23 14:10] NAK3DDesigns commented on #57
I recently published my source code for the CR-30 though is is based on a Creality mainboard I'm sure it could be adaped to work with other Marlin based mainboards.  Here is the link to the CR-30 repository.  https://github.com/NAK3DDesigns/CR-30-Firmware

[2021-03-23 14:10] #53 closed

[2021-03-23 14:12] NAK3DDesigns commented on #55
Closing issue..  Please open a new ticket for each group buy and close the ticket once the group buy closes.

[2021-03-23 14:12] #55 closed

[2021-03-23 14:22] SeyedAli1998 commented on #67
Thank for your reply.

[2021-03-23 14:28] tbedore commented on #64
Group buy has concluded. I'll be going to college next year so this will be the last one run by me. Good luck all and happy printing!

[2021-03-23 14:28] #64 closed

[2021-03-23 15:10] #58 closed

[2021-03-23 15:10] #67 closed

[2021-04-23 10:51] LDekor opened #68 "Blackbelt cura"
Hi. i downloaded the firmware some months ago but have not tried the firmware befoure now. the program crashed when choosing nozle so i deleted the program. now i cant find blackbetl 3.6.0 and the update because they only hav the new 3.6.2 program. what shoud i do to make this work?

- Thomas

[2021-04-23 11:01] NAK3DDesigns commented on #68
Hi, To be honest Blackbelt Cura is very out of date, at this point I recommend downloading IdeaMaker..
https://www.raise3d.com/download/
Then I'd recommend downloading one of the CR-30 profiles and just adjust the machine dimensions as I used my White Knight setting to build the original CR-30 profile.
https://www.ideamaker.io/

[2021-04-25 20:22] GpMissi commented on #68
Hi, I'm doing some simulations to evaluate the project. Slicing with Ideamaker I see that it is unable to recognize bridges, is there a solution for this problem? Thank you

(sorry my english, i use google translate)

[2021-04-25 20:23] GpMissi commented on #68
![image](https://user-images.githubusercontent.com/34158856/116008443-e109ba80-a614-11eb-809a-80006b7ac2e1.png)

[2021-04-25 20:36] NAK3DDesigns commented on #68
Sorry maybe it's the translation but I don't see the problem..

Karl Brown
NAK 3D Designs
"The possibilities are Infinite"
Youtube: youtube.com/c/NAK3DDesigns <https://t.co/Wi7S9iGhtI?amp=1>
Twitter: https://twitter.com/NAK3DDesigns

On Sun, Apr 25, 2021 at 4:24 PM Gianpaolo ***@***.***> wrote:

[2021-04-25 21:08] GpMissi commented on #68
I try to explain my concern. As you can see from the image, the thread of material will be extruded as a normal filling and not as a bridge, this means that it will not go to an increased speed and the ventilation provided for the bridges will not be activated.

[2021-04-25 21:12] GpMissi commented on #68
![image](https://user-images.githubusercontent.com/34158856/116009731-832ca100-a61b-11eb-8baf-5f62b3a253d9.png)

riempimento solido = solid fill

Ponte = bridge

[2021-04-25 21:23] NAK3DDesigns commented on #68
oh ok, sorry I don't know anyway to fix that, you can try contacting
ideamaker and open a trouble ticket..  admittedly I haven't had much
problem with bridging though..

Karl Brown
NAK 3D Designs
"The possibilities are Infinite"
Youtube: youtube.com/c/NAK3DDesigns <https://t.co/Wi7S9iGhtI?amp=1>
Twitter: https://twitter.com/NAK3DDesigns

On Sun, Apr 25, 2021 at 5:12 PM Gianpaolo ***@***.***> wrote

[2021-04-25 21:28] GpMissi commented on #68
OK thanks. I will try to contact Ideamaker technicians :-)

[2021-05-23 06:44] GpMissi opened #69 "Belt"
I would like to order the belt from Belt Technology UK, could you give me the characteristics that the material must have? Thank you

[2021-05-23 10:35] SeyedAli1998 opened #70 "Belt"
Hi Karl
Doesn't the belt slip on the rollers?
and
Why is the plate under the belt an aluminum plate?

[2021-05-23 10:36] SeyedAli1998 opened #71 "Board"
Hello
Is it possible to replace an Arduino board with a Duet 2?

[2021-05-23 12:02] NAK3DDesigns commented on #69
Here is the spec sheet belt technologies sent me.  You need to order it in the "Full Hard" grade,   .006" thousandths thick.
![image](https://user-images.githubusercontent.com/47798430/119259634-20d4ab00-bb9d-11eb-8457-93ad46fc91f4.png)

[2021-05-23 12:04] NAK3DDesigns commented on #70
With the proper tension the belt will not slip.  I chose and ATP5 cast aluminum plate because since it is cast it won't warp as easy, its milled perfectly flat, it would be lighter than steel, and it is a good conductor of heat.

[2021-05-23 12:29] NAK3DDesigns commented on #71
no idea..

[2021-05-23 20:16] GpMissi commented on #69
Thanks so much. Do you think this belt is ok or would you ask Belt Technology for different characteristics? Where would you like to improve your project? I am obviously talking about the belt printing bed section.

[2021-06-29 00:48] Gigas-E opened #72 "Parts list"
Hi I'm very interested in building my own white knight and I am needing a parts list so I can start buying the plethora of parts required.

Thank the Lord I was blessed to get in on the belt group buy and already have the hardest part to get. All I require now is the rest. I trued to find a parts list with no success. If it's not too much trouble for you could you also include where you were able

[2021-06-29 00:58] NAK3DDesigns commented on #72
You are already in the correct place..   everything you need to know is here in the github..  https://github.com/NAK3DDesigns/White-Knight/tree/master/BOM

[2021-06-29 13:03] midippel commented on #72
Hey @Gigas-E, I was going to be building the squire, but just had my first kid and don't really have time for this right now. I have everything already together if you'd be interested in buying it as a kit(minus the squire specific stuff). Email me at midippel@gmail.com

[2021-07-26 11:31] SeyedAli1998 commented on #70
Hi Karl

[2021-07-26 11:35] SeyedAli1998 commented on #70
Hi Karl
What's the plastic material you used over the steel belt?
Is it a Neoprene Rubber Sheet?
Can you help me about it?

[2021-07-26 11:36] SeyedAli1998 opened #73 "belts plastic"
Hi Karl
What's the plastic material you used over the steel belt?
Is it a Neoprene Rubber Sheet?
Can you help me about it?

[2021-07-26 11:44] wjsteele commented on #73
His is covered with a custom BuildTak surface.

[2021-07-26 11:51] SeyedAli1998 commented on #73
Don't you know the material name?
Unfortunately I couldn't buy from BuildTak

[2021-07-26 12:03] wjsteele commented on #73
You'd have to ask BuildTak for their material.On Jul 26, 2021 6:51 AM, SeyedAli1998 ***@***.***> wrote:

His is covered with a custom BuildTak surface.

Don't you know the material name?
Unfortunately I couldn't buy from BuildTak

—You are receiving this because you commented.Reply to this email directly, view it on GitHub, or unsubscribe.

[2021-07-26 12:08] SeyedAli1998 commented on #73
thank you

[2021-08-01 01:49] paulmn-web commented on #73
I custom built my belt on the printer bed - in essence the bed is an ideal set up for making laminate belts. I have a compression roller temporarily on the rigid portion of the bed, the first laminate layer is tape tacked together and then the layers are laminated onto that. Offset the laminate ends and I used Selley’s horizontal contact adhesive which is temperature stable to 130’c.
Mine’s a 3 la

[2021-09-01 16:30] 123ccv95 opened #74 "Cr30 profiles for black belt"
Hi from Chile, i'm currently starting to use the cr30... I've seen that people reccomend yours profiles for the cr30 but haven't been able to find it, Do you know where can i download this profiles ?

[2021-09-01 16:46] NAK3DDesigns commented on #74
Hi,
Most people are probably referring to my ideamaker profiles.  Blackbelt
Cura is severely out of date and updates are rare.  here are links to
ideamaker and my profile.

https://www.raise3d.com/ideamaker/
https://www.ideamaker.io/detail/1675-cr-30

Also there is a web based slicer called kiri:moto.  the developer is a
CR-30 owner and he is constantly (almost daily) making improvements.  Here
is

[2022-01-15 20:29] Vordir opened #75 "Ordering Parts from Printed solid"

[2022-01-15 20:29] #75 closed, assigned to nobody

[2022-01-15 21:15] Vordir opened #76 "Ordering parts from Printed Solid"
There are a few parts in the BOM I have a Problem with

- Duet Wifi = There is only the new version "Duet2Wifi" available, but i red thats not a problem. is that right ?

- Mosquito Mount = is not available. but i saw in the CAD that this would be a "Groove Mount Bowden Adapter"
   https://www.3djake.de/e3d/groove-mount-bowden-adapter ?

-Slice Thermistor = there isn´t stated which one i need. whe

[2022-01-15 21:30] NAK3DDesigns commented on #76
Yes, the Duet2Wifi is what you want.
I believe I used the 300°C
As for the heater if you go with the recommended 24V power supply then you need the 24V heater cartridge

Attached is an image from the printed solid shopping cart showing the 5:18 Geared stepper, the .9 steppers and the slice Mosquito groove mount.

Hope that helps

![image](https://user-images.githubusercontent.com/47798430/14963828

[2022-01-17 09:01] Vordir commented on #76
helped a lot, thanks :)

[2022-01-17 09:01] #76 closed, assigned to nobody

[2022-01-17 15:56] LDekor opened #77 "Innstalling Programs duet"
hi!

Hello.

is it a possible that you can post a video where you install all the data on the duet and how to make all of the systems work. im struggling with this...

- Thomas

[2022-11-26 00:25] Ladyshakti opened #78 "3d printer"

[2022-11-26 03:43] Ladyshakti commented on #78
I can load the file into fusion 360 on my Android phone to see the instructions

[2022-11-26 09:02] Ladyshakti commented on #78
I can not load the file. I've downloaded the file in assembly for fusion 360 but it doesn't load. When I try other programs it says there is an character error on line 1.  I want to see the measurements for frame and what goes where. I also need it for roller including the extra space between belt and frame. If I can get this I can work out the new measurements for the print size I want. 1000mm he